.carrossel_titulo {
    color: var(--laranja);
    background-color: var(--branco);
    font-size: 18px;
    font-weight: 700;
    padding: 1.2em 0 0.8em 0;
    text-transform: uppercase;
    text-align: center;
}

.swiper-slide img {
    width: 100%;
}

.swiper-button-prev,
.swiper-button-next {
    display: none;
}

.swiper-pagination {
    position: initial;
    padding: 0.5em;
}

.card {
    background: var(--branco);
    border-radius: 10px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    margin: 1em;
    padding: 1em;
}

.card_descricao {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.8em;
    align-items: center;
}

.card_botoes {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.botoes {
    display: flex;
}

.descricao_titulo {
    color: var(--laranja);
    font-weight: 700;
    line-height: 1.1em;
}

.descricao_titulo-livro {
    color: var(--azul);
    font-size: 18px;
    font-weight: 700;
    margin: 0.5em 0;
    line-height: 1.2em;
}

.descricao_texto {
    font-size: 14px;
    line-height: 1.3em;
}

.botoes_item {
    margin: 0 0.5em;
}

.botoes_ancora {
    background-color: var(--laranja);
    padding: 1em 2.2em;
    font-weight: 700;
    color: var(--branco);
    text-decoration: none;
}

.descricao {
    margin-right: 1em;
}

.estrela {
    margin-bottom: 0.3em;
}





/* .card {
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: var(--branco);
    border-radius: 10px;
    margin: 1.5em;
    padding: 1em;
}

.descricao_titulo {
    font-size: 16px;
    font-weight: 700;
    color: var(--laranja);
    margin-bottom: 0.5em;
    line-height: 1.2;
}

.descricao_titulo-livro {
    font-size: 18px;
    font-weight: 700;
    line-height: 1.2;
}

.descricao_texto {
    margin: 0.5em 0;
    font-size: 14px;
    margin-right: 0.3em;
    line-height: 1.2;
}

.interesse_icones img {
    padding: 0.3em;
}

.interesse_secundario {
    display: grid;
}

.interesse_botao {
    font-weight: 700;
    color: var(--branco);
    background-color: var(--laranja);
    text-align: center;
    text-decoration: none;
} */