.cabecalho_menu-hamburguer {
    width: 24px;
    height: 24px;
    background-image: url("../images/Menu.svg");
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}

.cabecalho {
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 0 0.5em;
}

.container {
    display: flex;
    align-items: center;

}

.container_imagem {
    padding: 1em;
}

.lista_menu {
    display: none;
    position: absolute;
    top: 100%;
    width: 70vw;
}

.container_botao:checked~.lista_menu {
    display: block;
}

.lista_menu_titulo,
.lista_menu_item {
    padding: 1em;
    background-color: var(--branco);
}

.lista_menu_titulo {
    color: var(--laranja);
    font-weight: 700;
    text-transform: uppercase;
}

.lista_menu_link {
    background: var(--azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;
}

.container_botao {
    display: none;
}
