.topicos {
    background: var(--azul-degrade);
    text-align: center;
    padding: 1em 0;
}

.topicos_titulo {
    color: var(--branco);
    font-weight: 300;
    margin-top: 0.5em;
    margin-bottom: 1em;

}

.topicos_lista {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.topicos_item {
    margin: 1.5em 0.5em;
}

.topicos_link   {
    color: var(--branco);
    background-color: var(--laranja);
    padding: 1em 1.3em;
    text-decoration: none;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 700;
}

.topicos_link:hover {
    background-color: var(--azul);
}

@media screen and (min-width: 1024px) {

    .topicos_titulo {
        font-size: 24px;
        padding: 2 0 2.5 0;
    }

    .topicos_item {
        margin: 2em 1em
    }

    .topicos_link {
        font-size: 18px;
    }


}
